In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("E:\pict\sem6\dsbdal\datasets\Hepatitis.csv")

In [3]:
df

,Unnamed: 0,Category,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT
0,1,0=Blood Donor,32,m,38.5,52.5,7.7,22.1,7.5,6.93,3.23,106.0,12.1,69.0
1,2,0=Blood Donor,32,m,38.5,70.3,18.0,24.7,3.9,11.17,4.80,74.0,15.6,76.5
2,3,0=Blood Donor,32,m,46.9,74.7,36.2,52.6,6.1,8.84,5.20,86.0,33.2,79.3
3,4,0=Blood Donor,32,m,43.2,52.0,30.6,22.6,18.9,7.33,4.74,80.0,33.8,75.7
4,5,0=Blood Donor,32,m,39.2,74.1,32.6,24.8,9.6,9.15,4.32,76.0,29.9,68.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
610,611,3=Cirrhosis,62,f,32.0,416.6,5.9,110.3,50.0,5.57,6.30,55.7,650.9,68.5
611,612,3=Cirrhosis,64,f,24.0,102.8,2.9,44.4,20.0,1.54,3.02,63.0,35.9,71.3
612,613,3=Cirrhosis,64,f,29.0,87.3,3.5,99.0,48.0,1.66,3.63,66.7,64.2,82.0
613,614,3=Cirrhosis,46,f,33.0,NaN,39.0,62.0,20.0,3.56,4.20,52.0,50.0,71.0
614,615,3=Cirrhosis,59,f,36.0,NaN,100.0,80.0,12.0,9.07,5.30,67.0,34.0,68.0

In [4]:
df.rename(columns={'Unnamed: 0':'Id'}, inplace='true')

In [5]:
df.columns

Index(['Id', 'Category', 'Age', 'Sex', 'ALB', 'ALP', 'ALT', 'AST', 'BIL',
       'CHE', 'CHOL', 'CREA', 'GGT', 'PROT'],
      dtype='object')

In [6]:
df['Sex'].unique()

array(['m', 'f'], dtype=object)

In [7]:
df1=df.loc[df['Sex']=='m']
df2=df.loc[df['Sex']=='f']

In [8]:
df1

,Id,Category,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT
0,1,0=Blood Donor,32,m,38.5,52.5,7.7,22.1,7.5,6.93,3.23,106.0,12.1,69.0
1,2,0=Blood Donor,32,m,38.5,70.3,18.0,24.7,3.9,11.17,4.80,74.0,15.6,76.5
2,3,0=Blood Donor,32,m,46.9,74.7,36.2,52.6,6.1,8.84,5.20,86.0,33.2,79.3
3,4,0=Blood Donor,32,m,43.2,52.0,30.6,22.6,18.9,7.33,4.74,80.0,33.8,75.7
4,5,0=Blood Donor,32,m,39.2,74.1,32.6,24.8,9.6,9.15,4.32,76.0,29.9,68.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
600,601,3=Cirrhosis,59,m,27.0,73.8,4.0,65.2,209.0,2.47,3.61,71.7,28.5,60.6
601,602,3=Cirrhosis,59,m,31.0,86.3,5.4,95.4,117.0,1.57,3.51,60.5,53.6,68.5
602,603,3=Cirrhosis,61,m,39.0,102.9,27.3,143.2,15.0,5.38,4.88,72.3,400.3,73.4
603,604,3=Cirrhosis,65,m,NaN,NaN,40.0,54.0,13.0,7.50,NaN,70.0,107.0,79.0
604,605,3=Cirrhosis,74,m,23.0,34.1,2.1,90.4,22.0,2.50,3.29,51.0,46.8,57.1

In [9]:
df2

,Id,Category,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT
318,319,0=Blood Donor,32,f,39.9,35.2,22.0,29.8,6.3,8.16,4.37,60.0,4.5,72.5
319,320,0=Blood Donor,32,f,47.4,52.5,19.1,17.1,4.6,10.19,NaN,63.0,23.0,72.2
320,321,0=Blood Donor,32,f,41.1,42.8,10.1,14.1,23.2,6.08,3.75,53.0,9.3,68.9
321,322,0=Blood Donor,32,f,43.5,66.2,9.2,17.8,5.7,7.14,4.38,71.0,44.6,76.1
322,323,0=Blood Donor,33,f,36.0,77.5,14.8,22.0,4.4,8.61,5.26,66.0,13.1,66.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
610,611,3=Cirrhosis,62,f,32.0,416.6,5.9,110.3,50.0,5.57,6.30,55.7,650.9,68.5
611,612,3=Cirrhosis,64,f,24.0,102.8,2.9,44.4,20.0,1.54,3.02,63.0,35.9,71.3
612,613,3=Cirrhosis,64,f,29.0,87.3,3.5,99.0,48.0,1.66,3.63,66.7,64.2,82.0
613,614,3=Cirrhosis,46,f,33.0,NaN,39.0,62.0,20.0,3.56,4.20,52.0,50.0,71.0
614,615,3=Cirrhosis,59,f,36.0,NaN,100.0,80.0,12.0,9.07,5.30,67.0,34.0,68.0

In [10]:
df3=df.iloc[:, 0:2]
df4=df.iloc[:, [0,2,3]]

In [11]:
df7=pd.merge(df3 ,df4 , on='Id')
df7

      Id       Category  Age Sex
0      1  0=Blood Donor   32   m
1      2  0=Blood Donor   32   m
2      3  0=Blood Donor   32   m
3      4  0=Blood Donor   32   m
4      5  0=Blood Donor   32   m
..   ...            ...  ...  ..
610  611    3=Cirrhosis   62   f
611  612    3=Cirrhosis   64   f
612  613    3=Cirrhosis   64   f
613  614    3=Cirrhosis   46   f
614  615    3=Cirrhosis   59   f

[615 rows x 4 columns]

In [12]:
so=df.sort_values( by=['Age'])
so

,Id,Category,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT
541,542,1=Hepatitis,19,m,41.0,NaN,87.0,67.0,12.0,7.55,3.90,62.0,65.0,75.0
542,543,1=Hepatitis,23,m,47.0,19.1,38.9,164.2,17.0,7.09,3.20,79.3,90.4,70.1
543,544,1=Hepatitis,25,m,42.0,38.2,63.3,187.7,14.0,6.00,4.28,66.9,40.2,70.5
544,545,1=Hepatitis,27,m,45.0,27.5,10.5,37.8,10.0,8.77,3.20,55.2,35.9,74.5
564,565,2=Fibrosis,29,m,41.0,43.1,2.4,83.5,6.0,11.49,5.42,55.2,130.0,66.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
538,539,0s=suspect Blood Donor,74,m,20.3,84.0,22.8,43.0,5.7,4.91,3.19,52.0,218.3,47.8
584,585,2=Fibrosis,75,f,36.0,NaN,114.0,125.0,14.0,6.65,NaN,57.0,177.0,72.0
315,316,0=Blood Donor,76,m,29.2,48.9,25.2,27.2,8.3,4.52,2.79,127.0,18.3,58.1
316,317,0=Blood Donor,76,m,38.0,97.1,28.6,33.1,14.1,4.83,5.56,90.0,117.6,73.8
317,318,0=Blood Donor,77,m,52.2,52.2,12.0,23.5,10.9,5.51,4.41,103.0,25.8,67.2

In [13]:
so1=df.sort_values( by=['PROT'])
so1

,Id,Category,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT
535,536,0s=suspect Blood Donor,49,m,21.6,42.2,9.5,10.6,2.4,3.75,3.01,64.0,38.9,44.8
537,538,0s=suspect Blood Donor,71,m,14.9,69.8,19.7,95.2,9.8,13.30,2.61,9.0,7.6,47.0
538,539,0s=suspect Blood Donor,74,m,20.3,84.0,22.8,43.0,5.7,4.91,3.19,52.0,218.3,47.8
534,535,0s=suspect Blood Donor,48,m,24.9,116.9,49.2,24.3,4.9,3.44,5.25,29.0,83.0,47.8
509,510,0=Blood Donor,58,f,26.3,52.5,39.5,77.2,5.8,5.15,3.53,40.0,31.2,51.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
570,571,2=Fibrosis,50,m,42.0,NaN,258.0,106.0,15.0,8.74,4.70,77.0,80.0,84.0
563,564,1=Hepatitis,61,f,50.0,34.4,27.4,114.4,22.0,9.48,4.62,61.9,169.8,86.0
287,288,0=Blood Donor,62,m,46.6,98.0,36.7,29.4,7.0,7.56,5.52,70.0,23.1,86.5
545,546,1=Hepatitis,29,m,49.0,NaN,53.0,39.0,15.0,8.79,3.60,79.0,37.0,90.0
590,591,3=Cirrhosis,46,m,20.0,NaN,62.0,113.0,254.0,1.48,NaN,114.0,138.0,NaN

In [14]:
transpose=df.transpose()
transpose

,0,1,2,3,4,5,6,7,8,9,...,605,606,607,608,609,610,611,612,613,614
Id,1,2,3,4,5,6,7,8,9,10,...,606,607,608,609,610,611,612,613,614,615
Category,0=Blood Donor,0=Blood Donor,0=Blood Donor,0=Blood Donor,0=Blood Donor,0=Blood Donor,0=Blood Donor,0=Blood Donor,0=Blood Donor,0=Blood Donor,...,3=Cirrhosis,3=Cirrhosis,3=Cirrhosis,3=Cirrhosis,3=Cirrhosis,3=Cirrhosis,3=Cirrhosis,3=Cirrhosis,3=Cirrhosis,3=Cirrhosis
Age,32,32,32,32,32,32,32,32,32,32,...,42,49,52,58,59,62,64,64,46,59
Sex,m,m,m,m,m,m,m,m,m,m,...,f,f,f,f,f,f,f,f,f,f
ALB,38.5,38.5,46.9,43.2,39.2,41.6,46.3,42.2,50.9,42.4,...,33.0,33.0,39.0,34.0,39.0,32.0,24.0,29.0,33.0,36.0
ALP,52.5,70.3,74.7,52.0,74.1,43.3,41.3,41.9,65.5,86.3,...,79.0,190.7,37.0,46.4,51.3,416.6,102.8,87.3,NaN,NaN
ALT,7.7,18.0,36.2,30.6,32.6,18.5,17.5,35.8,23.2,20.3,...,3.7,1.2,1.3,15.0,19.6,5.9,2.9,3.5,39.0,100.0
AST,22.1,24.7,52.6,22.6,24.8,19.7,17.8,31.1,21.2,20.0,...,55.7,36.3,30.4,150.0,285.8,110.3,44.4,99.0,62.0,80.0
BIL,7.5,3.9,6.1,18.9,9.6,12.3,8.5,16.1,6.9,35.2,...,200.0,7.0,21.0,8.0,40.0,50.0,20.0,48.0,20.0,12.0
CHE,6.93,11.17,8.84,7.33,9.15,9.92,7.01,5.82,8.69,5.46,...,1.72,6.92,6.33,6.26,5.77,5.57,1.54,1.66,3.56,9.07
CHOL,3.23,4.8,5.2,4.74,4.32,6.05,4.79,4.6,4.1,4.45,...,5.16,3.82,3.78,3.98,4.51,6.3,3.02,3.63,4.2,5.3
CREA,106.0,74.0,86.0,80.0,76.0,111.0,70.0,109.0,83.0,81.0,...,89.1,485.9,158.2,56.0,136.1,55.7,63.0,66.7,52.0,67.0
GGT,12.1,15.6,33.2,33.8,29.9,91.0,16.9,21.5,13.7,15.9,...,146.3,112.0,142.5,49.7,101.1,650.9,35.9,64.2,50.0,34.0
PROT,69.0,76.5,79.3,75.7,68.7,74.0,74.5,67.1,71.3,69.9,...,69.9,58.5,82.7,80.6,70.5,68.5,71.3,82.0,71.0,68.0

In [15]:
pd.melt(df)

     variable value
0          Id     1
1          Id     2
2          Id     3
3          Id     4
4          Id     5
...       ...   ...
8605     PROT  68.5
8606     PROT  71.3
8607     PROT  82.0
8608     PROT  71.0
8609     PROT  68.0

[8610 rows x 2 columns]

In [16]:
pd.pivot(df, columns=['Age','Sex'] )

      Id                                      ... PROT                      \
Age   32  33  34  35  36  37  38  39  40  41  ...   68  70  74  19  23  25
Sex    m   m   m   m   m   m   m   m   m   m  ...    f   f   m   m   m   m
0    1.0 NaN NaN NaN NaN NaN NaN NaN NaN NaN  ...  NaN NaN NaN NaN NaN NaN
1    2.0 NaN NaN NaN NaN NaN NaN NaN NaN NaN  ...  NaN NaN NaN NaN NaN NaN
2    3.0 NaN NaN NaN NaN NaN NaN NaN NaN NaN  ...  NaN NaN NaN NaN NaN NaN
3    4.0 NaN NaN NaN NaN NaN NaN NaN NaN NaN  ...  NaN NaN NaN NaN NaN NaN
4    5.0 NaN NaN NaN NaN NaN NaN NaN NaN NaN  ...  NaN NaN NaN NaN NaN NaN
..   ...  ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ..  ..  ..  ..  ..
610  NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  ...  NaN NaN NaN NaN NaN NaN
611  NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  ...  NaN NaN NaN NaN NaN NaN
612  NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  ...  NaN NaN NaN NaN NaN NaN
613  NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  ...  NaN NaN NaN NaN NaN NaN
614  NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN  ...  NaN NaN NaN NaN NaN NaN


Age  27  29  30  75
Sex   m   m   m   f
0   NaN NaN NaN NaN
1   NaN NaN NaN NaN
2   NaN NaN NaN NaN
3   NaN NaN NaN NaN
4   NaN NaN NaN NaN
..   ..  ..  ..  ..
610 NaN NaN NaN NaN
611 NaN NaN NaN NaN
612 NaN NaN NaN NaN
613 NaN NaN NaN NaN
614 NaN NaN NaN NaN

[615 rows x 1020 columns]